<div class="container rounded bg-1 mt-10 border border-primary">
  <h3 class="text-center text-1 font-weight-bold mt-5"> <u>CADASTRAR NOVA DISCIPLINA</u> </h3>


  <div class="container-fluid">
    <div class="form-group text-1">
      <label>Cadastre o nome da disciplina:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group text-1">
      <label>Cadastre o nome do professor:</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group text-1">
      <label>Cadastre o e-mail do professor:</label>
      <input type="email" class="form-control" id="exampleInputPassword1">
    </div>



  </div>


  <div class="container">
    <div>
      <button type="button" class=" mt-4 mb-4 btn btn-1 btn-block font-weight-bold">CADASTRAR A DISCIPLINA</button>
    </div>




  </div>
