

<div class="container rounded bg-1 mt-10 border border-primary">
  <h3 class="text-center text-1 font-weight-bold mt-5"> <u>ACESSAR A PLATAFORMA</u> </h3>


  <div class="container-fluid">
    <div class="form-group text-1">
      <label>Digite o seu login:</label>
      <input type="email" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group text-1">
      <label for="exampleInputPassword1">Digite a sua senha:</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

  </div>


  <div class="container">
    <div>
      <button type="button" class=" mt-5 mb-3 btn btn-1 btn-block font-weight-bold">ACESSAR</button>
    </div>


    <div class="rounded pt-2 ">
      <h5 class="text-right pb-2  text-1  mt-1">Não tem conta? <button type="button" class="btn  btn-1">Cadastre-se</button></h5>
    </div>

  </div>
